[run]
# source = dill
include =
    */dill/*
omit = 
    */tests/*
    */info.py
branch = true
# timid = true
# parallel = true # and need to 'combine' data files
# concurrency = multiprocessing # thread
# data_file = $TRAVIS_BUILD_DIR/.coverage
# debug = trace

[paths]
source =
    dill
    */site-packages/dill
    */site-packages/dill-*/dill

[report]
include =
    */dill/*
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
# show_missing = true
ignore_errors = true
# pragma: no branch
# noqa
