include LICENSE
include README*
include MANIFEST.in
include pyproject.toml
include tox.ini
include version.py
include scripts/*
recursive-include docs *
include .*
prune .git
prune .coverage
prune .eggs
